---
import { personalInfo } from "../consts/footer";
const currentYear = new Date().getFullYear();
---

<footer class="flex px-10 py-10 xl:px-40">
    <div class="w-full mx-auto md:flex md:justify-between">
        <span class="text-sm sm:text-center text-paragraph"
            >© {currentYear}
            Andres Ortiz. Todos los derechos reservados
        </span>
        <div class="flex space-x-10">
            {
                personalInfo.map(({ URL, svg, tag, type }) => (
                    <div>
                        <a
                            href={URL}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-paragraph"
                        >
                            <span class={`fa-${type} fa-${svg}`} />
                            {tag}
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</footer>
