---
import "@fontsource-variable/onest";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <meta name="theme-color" content="#800080" />

        <meta name="og:image" content={new URL("/favicon.svg", Astro.url)} />
        <meta name="og:site_name" content="WeirdDev" />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={Astro.url} />
        <meta name="og:type" content="website" />
        <meta name="og:locale" content="en_US" />

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <ViewTransitions />
        <script
            src="https://kit.fontawesome.com/1533ee2ebc.js"
            crossorigin="anonymous"></script>
    </head>
    <body
        class="overflow-x-hidden [background:radial-gradient(125%_80%_at_50%_10%,#000_40%,#3d2a53_100%)]"
    >
        <Header />
        <slot />
        <Footer />
        <style is:global>
            :root {
                --bg: #0f0e17;
                --headline: #fffffe;
                --text: #a7a9be;
                --button-text: #fffffe;
            }
            html {
                font-family: "Onest Variable", sans-serif;
                scroll-behavior: smooth;
            }
            body {
                margin: 0;
                padding: 0;
                color: white;
                background: var(--bg);

                display: flex;
                flex-direction: column;
                min-height: 100vh;
            }

            @supports selector(::-webkit-scrollbar) {
                ::-webkit-scrollbar {
                    width: 10px;
                    border-radius: 10px;
                }

                ::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #800080;
                    border: 2px solid transparent;
                    background-clip: content-box;
                }

                ::-webkit-scrollbar-thumb:active {
                    background-color: #800080;
                }

                ::-webkit-scrollbar-track {
                    background: var(--bg);
                }

                ::-webkit-scrollbar-corner {
                    background: var(--bg);
                }
            }

            @supports not selector(::-webkit-scrollbar) {
                * {
                    scrollbar-color: var(--bg) transparent;
                    scrollbar-width: thin;
                }
            }

            .anchor-main-content {
                pointer-events: none;
            }

            .anchor-main-content:focus {
                pointer-events: all;
            }
        </style>
    </body>
</html>
